
<h3>Estadísticas:</h3>
<dl>
	<div>
		<dt>Número total de preguntas:</dt>
		<dd><%= statistic.totalQuestions %></dd>
	</div>
	<div>
		<dt>Número total de comentarios:</dt>
		<dd><%= statistic.totalComments %></dd>
	</div>
	<div>
		<dt>Media de comentarios por pregunta:</dt>
		<dd><%= statistic.average %></dd>
	</div>
	<div>
		<dt>Total de preguntas sin comentario:</dt>
		<dd><%= statistic.questionsWithoutComments %></dd>
	</div>
	<div>
		<dt>Total de preguntas con comentario:</dt>
		<dd><%= statistic.questionsWithComments %></dd>
	</div>
</dl>
